.App{
  display: flex;
  margin: 0 auto;
  width: 900px;
}

.App > div{
  flex: 1;
  border: solid 1px gray;
padding:10px;
}

.user-list li{
  cursor: pointer;
  list-style: none;
}
.user-list li:hover{
  background-color: black;
  color: white;
}